/* upperdiv containing first 2 gifs */

.upperDiv {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    padding: 2rem 4rem;
    width: 99%;
}

/* 1st gif */

.Imgif1 {
    z-index: 2;
    flex: 1;
}

/* 2nd gif */

.Imgif2 {
    flex: 0.2;
    z-index: 2;
}

/* Lower div containing bottom  gifs */

.lowerDiv {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    padding: 2rem 4rem;
    position: absolute;
    bottom: 10px;
    width: 99%;
}

/* 3rd gif */

.Imgif3 {
    z-index: 2;
    flex: 1;
}

/* 4th gif */

.Imgif4 {
    flex: 0.2;
    z-index: 2;
    /* padding-left: 920px; */
}

/* Common to all gifs */

.gif1 {
    height: 200px;
    width: 260px;
}

.tooltip {
    position: relative !important;
    display: inline-block;
    opacity: 1 !important;
}

.tooltip .toolTipText {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    top: 8rem;
    left: 7rem;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;   
}

.tooltip:hover .toolTipText {
  visibility: visible;
}

/* Main image in the background */

.main {
    z-index: 1;
    position: absolute;
    bottom: 2px;
}

.image{
    height: 655px;
    margin: -8px;
    margin-bottom: 2px;
}

.carImage{
    width: 118%;
    height: 100%;
}

/* 
.about {
    z-index: 1;
    position: absolute;
    flex-direction: column;
} */



/* ================================================================================= */

/* Responsive section starts */

@media screen and (min-width: 300px) and (max-width: 700px){
    .carImage {
        width: 100%;
    }

    /* .image{
        height: 110rem !important;
    } */

    .gif1{ 
        height: 90px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px){
    .carImage {
        width: 101%;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1330px){
    .carImage {
        width: 102%;
    }    
}    

@media screen and (min-width: 1370px) and (max-width: 1440px){
    .carImage {
        width: 124%;
    }    
}    
